<div class="row">
  <div class="col-md-6" style="right: 10%;">
    <h2>Lista wycieczek</h2>
    <div *ngIf="this.tripsForVerification.length !== 0 ; else noTrips">
      <app-trip
           *ngFor="let trip of this.tripsForVerification"
           [trip]="trip"
      ></app-trip>
    </div>
    <ng-template #noTrips>
      <h1 id="test">Brak wycieczek do weryfikacji</h1>
    </ng-template>
  </div>
  <div class="col-md-1"></div>
  <div class="vl"></div>
  <div class="col-md-5" style="left: 10%;">
    <router-outlet></router-outlet>
  </div>
</div>
