<form (ngSubmit)="onSubmit()" [formGroup]="ownTrackForm" #f>
  <div class="row">
    <div class="col-md-4">
      <label for="name">Nazwa trasy własnej:</label>
      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="name">
    </div>
    <div class="col-md-3">
      <label for="distance">Dystans w metrach:</label>
      <input
        type="number"
        id="distance"
        class="form-control"
        formControlName="distance">
    </div>
    <div class="col-md-3">
      <label for="heightDifference">Różnica wysokości:</label>
      <input
        type="number"
        id="heightDifference"
        class="form-control"
        formControlName="heightDifference">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-success"
      [disabled]="!this.ownTrackForm.valid">Dodaj</button>
    </div>
  </div>
</form>
