<div class="row">
  <div class="col-md-12">
    <h2>Lista pasm górskich</h2>
    <app-moutain-range
      *ngFor="let mountainRange of mountainRangeList"
      [mountainRange]="mountainRange"
      [mountainGroupId] = "this.mountainGroupId"
    ></app-moutain-range>
  </div>
</div>
