<div class="row">
  <div class="col-md-12">
    <app-navigation></app-navigation>
  </div>
</div>
<div class="custom-container container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
