<div class="row">
  <div class="col-md-12">
    <h4>Wycieczki przypisane do odznaki:</h4>
    <app-trip-for-badges
      *ngFor="let trip of this.trips"
      [trip]="trip"
    ></app-trip-for-badges>
  </div>
</div>
<hr>
<h4>Trasy wybranej wycieczki:</h4>
<router-outlet></router-outlet>


