<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <h3>Aktualnie zdobywana odznaka: </h3>
  </div>
  <div class="col-md-6" style="margin-top: 20px; margin-bottom: auto;">
    <div >
      <app-badge
        [badge]="currentBadge"
      ></app-badge>
    </div>
  </div>
  <div class="col-md-3" style="margin-top: 10px;">
    <h3>Zdobyte punkty: {{ this.currentBadge.aktualnePunkty }}</h3>
  </div>
</div>
<hr style="border-top: 2px solid;">
<div class="row">
  <div class="col-md-5">
    <app-badge-list></app-badge-list>
  </div>
  <div class="col-md-1"></div>
  <div class="vl"></div>
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>
