<a style="cursor: pointer; border-radius: 0; border: 1px solid;"
   (click)="onClick()"
   class="list-group-item clearfix">
  <div class="row">
    <div class="col-md-12">
      <p>{{ this.mountainRange.nazwa }}</p>
    </div>
  </div>
</a>

