<div class="row">
  <div class="col-md-12">
    <h4>Zdobyte odznaki:</h4>
    <div *ngIf="this.badges.length !== 0 ; else noBadges">
      <app-badge
        *ngFor="let badge of this.badges"
        [badge]="badge"
      ></app-badge>
    </div>
    <ng-template #noBadges>
      <h1 id="test">Nie zdobyto jeszcze żadnej odznaki</h1>
    </ng-template>
  </div>
</div>
