<div class="col-md-12">
  <h2>Dodaj nową odznakę:</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="badgeTypeForm" #f>
    <div class="row">
      <div class="col-md-12">
        <label for="name">Nazwa odznaki:</label>
        <input
          [className]="this.addingBadgeFailed ? 'form-control badBadge' : 'form-control'"
          type="text"
          id="name"
          formControlName="name">
      </div>
      <p
        *ngIf="this.addingBadgeFailed"
        style="margin-top: 8px; color: red"
      >Odznaka o takiej nazwie już istnieje!</p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label for="requiredPoints">Liczba punktów potrzebnych do zdobycia odznaki:</label>
        <input
          type="number"
          id="requiredPoints"
          class="form-control"
          formControlName="requiredPoints">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label for="picture">Dodaj ikonę nowej odznaki:</label>
        <input
          type="file"
          id="picture"
          class="form-control-file"
          formControlName="image"
          (change)="onFileSelected($event)">
        <p style="margin-top: 8px; color: red">Zdjęcie jest wymagane</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10"></div>
      <div class="col-md-2">
        <button
          id = "submitButton"
          type="submit"
          class="btn btn-success"
          [disabled]="!this.badgeTypeForm.valid">Dodaj
        </button>
      </div>
    </div>
  </form>
</div>
