<div class="row">
  <div class="col-md-12">
    <h2>Zaplanuj wycieczkę w: {{ this.mountainGroupName }},</h2>
    <h2>w paśmie: {{ this.mountainRangeName }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Dodaj trasę własną:</h2>
    <app-add-own-track></app-add-own-track>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-5" *ngIf="this.allTracks.length != 0; else noTracks">
    <h2>Lista tras w wybranym regionie</h2>
    <app-track-for-plan-trip
      *ngFor="let track of allTracks"
      [track]="track"
    ></app-track-for-plan-trip>
  </div>
  <ng-template #noTracks>
    <div class="col-md-5">
      <h1 id="test">Brak tras w wybranym rejonie</h1>
    </div>
  </ng-template>
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <h2>Aktualnie wybrane trasy</h2>
    <app-track-for-plan-trip
      *ngFor="let track of selectedTracks"
      [track]="track"
    ></app-track-for-plan-trip>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <h3>Suma punktów: {{ this.currentPoints }}</h3>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <button [disabled]="!this.canClickNext" class="btn btn-success" (click)="onSubmit()">Dalej</button>
    </div>
  </div>
</div>
