<div class="row">
  <div class="col-md-5">
    <h2>Lista grup górskich</h2>
    <app-mountain-grup
      *ngFor="let mountainGroup of mountainGroupList"
      [mountainGroup]="mountainGroup"
    ></app-mountain-grup>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>
