<a style="cursor: pointer; border-radius: 0; border: 1px solid;"
   class="list-group-item clearfix">
  <div class="row">
    <div class="col-md-2">
      <img *ngIf="badgeType; else no_picture"
           src="{{ badgeType.zdjecie }}"
           alt="{{ badgeType.wymaganePunkty }}"
           class="img-responsive">
      <ng-template #no_picture>
        <p>Brak zdjecia</p>
      </ng-template>
    </div>
    <div class="col-md-7" style="align-items: center;">
      <p style="left: 20%; position: absolute;">Nazwa odznaki: {{ this.badgeType.nazwa }}</p>
    </div>
    <div class="col-md-3">
      <p style="right: 5%; position: absolute;">Punkty: {{ badgeType.wymaganePunkty }}</p>
    </div>
  </div>
</a>
