<div class="row" style="margin-top: 20px">
  <div class="col-md-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="tripForm" #f>
      <div class="row">
        <div class="col-md-4">
          <label for="name">Nazwa dla nowej wycieczki:</label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="name">
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <div class="col-md-6">
            <label for="date">Data nowej wycieczki:</label>
            <input
              type="date"
              min="{{ this.currentDate | date:'yyyy-MM-dd' }}"
              id="date"
              class="form-control"
              formControlName="date">
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h2>Wybrane trasy:</h2>
          <app-track-for-plan-trip
            *ngFor="let track of this.selectedTracksList"
            [track]="track"
          ></app-track-for-plan-trip>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
          <h3>Punktacja: {{ this.pointsSum }}</h3>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
          <button
            type="submit"
            [disabled]="!this.tripForm.valid"
            class="btn btn-success">Zatwierdź
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
