<div class="row">
  <div class="col-md-5">
    <app-badges-list></app-badges-list>
  </div>
  <div class="col-md-1"></div>
  <div class="vl"></div>
  <div class="col-md-6">
    <app-new-badge-form></app-new-badge-form>
  </div>
</div>
