<a style="border-radius: 0; border: 1px solid;"
   class="list-group-item clearfix">
  <div class="row">
    <div class="col-md-10 pull-left">
      <p>{{ this.description }}</p>
    </div>
    <div class="col-md-2 pull-right">
      <p>{{ this.points }}</p>
    </div>
  </div>
</a>
