<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <h1>{{ this.trip.nazwa }}</h1>
  </div>
  <div class="row">
    <div class="col-md-6 pull-left">
      <p>Imię: {{ 'Jan'}}</p>
      <p>Nazwisko: {{ "Kowalski " }}</p>
    </div>
    <div class="col-md-6 pull-right">
      <p>Data: {{ trip.dataWycieczki }}</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 pull-left">
      <h3>Przebyte trasy:</h3>
    </div>
    <div class="col-md-6 pull-right">
      <h3>Punkty:</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-track
        *ngFor="let track of this.tracks"
      [track]="track"></app-track>
    </div>
  </div>
  <hr>
  <div class="col-md-9"></div>
  <div class="col-md-3">
    <p>Suma: {{ getPointsSum() }}</p>
  </div>
  <div class="row">
    <div class="col-md-3 pull-left">
      <button class="btn btn-warning" (click)="onReject()">Odrzuć</button>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3 pull-right">
      <button class="btn btn-success" (click)="onAccept()">Zaakceptuj</button>
    </div>
  </div>
</div>
