<div class="col-md-12">
  <a style="cursor: pointer; border-radius: 0; border: 1px solid;"
     routerLinkActive="active"
     [routerLink]="[this.trip.wycieczkaId]"
     class="list-group-item clearfix">
    <div class="row">
      <div class="col-md-4">
        <p>{{ 'Nazwa: ' + this.trip.nazwa }}</p>
      </div>
      <div class="col-md-4">
        <p>{{ this.trip.dataWycieczki }}</p>
      </div>
      <div class="col-md-4">
        <p>Punkty: {{ this.trip.punktyZaWycieczke }}</p>
      </div>
    </div>
  </a>
</div>

