<a style="cursor: pointer; border-radius: 0; border: 1px solid;"
   [routerLink]="[this.badge.turysta.userId, this.badge.typOdznaki.typOdznakiId]"
   routerLinkActive="active"
   class="list-group-item clearfix">
  <div class="row">
    <div class="col-md-2">
      <img *ngIf="badge; else no_picture"
           src="{{ badge.typOdznaki.zdjecie }}"
           alt="{{ badge.aktualnePunkty }}"
           class="img-responsive">
      <ng-template #no_picture>
        <p>Brak zdjecia</p>
      </ng-template>
    </div>
    <div class="col-md-7" style="align-items: center;">
      <p style="left: 20%; position: absolute;">Nazwa odznaki: {{ this.badge.typOdznaki.nazwa }}</p>
    </div>
    <div class="col-md-3">
      <p style="right: 5%; position: absolute;">Wymagane Punkty: {{ badge.typOdznaki.wymaganePunkty }}</p>
    </div>
  </div>
</a>
