<div class="row" style="background-color: #228B22; padding: 1% 1% 1% 1%;">
  <div class="col-sm-11">
    <ul id="elementy" class="nav nav-pills">
      <li id="glowna" role="presentation" class="btn btn-primary" style="pointer-events: none">STRONA GŁÓWNA</li>
      <li id="odznaki" role="presentation" class="btn btn-primary" style="pointer-events: none">ODZNAKI</li>
      <li id="weryfikuj" role="presentation" class="btn btn-primary" style="pointer-events: none">WERYFIKUJ WYCIECZKI
      </li>
    </ul>
  </div>
  <div class="col-sm-1">
    <img
      style="max-height: 50px"
      src="../../../assets/123.png" alt="YO">
  </div>
</div>

