<a style="cursor: pointer; border-radius: 0; border: 1px solid;"
   [routerLink]="[this.mountainGroup.grupaGorskaId]"
   routerLinkActive="active"
   class="list-group-item clearfix">
  <div class="row">
    <div class="col-md-12">
      <p>{{ this.mountainGroup.nazwa }}</p>
    </div>
  </div>
</a>
