<a style="cursor: pointer; border-radius: 0; border: 1px solid;"
   [routerLink]="[this.trip.wycieczkaId]"
   routerLinkActive="active"
   class="list-group-item clearfix">
  <div class="row">
    <div class="col-md-4">
      <p>{{ 'Kowalski Jan '}}</p>
    </div>
    <div class="col-md-4">
      <p>{{ 'Nazwa: ' + this.trip.nazwa }}</p>
    </div>
    <div class="col-md-4">
      <p>{{ this.trip.dataWycieczki }}</p>
    </div>
  </div>
</a>
